
#main {
    position: fixed;
    padding: 20px;
    top: 5%;
    left: 5%;
    bottom: 5%;
    right: 5%;
    overflow: auto;
    background: aquamarine; /* Just to visualize the extent */
    border-radius: 25px;
}

h1,#subheader  {
    text-align: center;
}

#keyword {
    width: 75%;
}

.movie_result, .actor_result {
    text-align: center;
}

#search_phrase, .disp {
    font-weight: bold;
}

#search_phrase {
    color: pink;
}

.val {
    font-weight: normal;
}

#error {
    color: red;
}

#known {
    border-collapse: collapse;
    width: 100%;
}

#known td, #customers th {
    border: 3px solid gainsboro;
    padding: 8px;
}

#known tr:nth-child(even){background-color: whitesmoke;}
#known tr:nth-child(even){background-color: goldenrod;}

#known tr:hover {background-color: #ffe5fc;}

#known th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: mediumpurple;
    color: white;
}